Dicionários, Sets e Tuplas

In [1]:
#Dicionários: estrutura chave/valor
Notas = {'João': 6.0, 'Maria': 8.0, 'Pedro': 6.5}
print(Notas)

{'João': 6.0, 'Maria': 8.0, 'Pedro': 6.5}

In [2]:
print(Notas['João'])

6.0

In [3]:
#Exibe todas as chaves do dicionário
Notas.keys()

dict_keys(['João', 'Maria', 'Pedro'])

In [4]:
#Exibe todos os valores do Dicionário
Notas.values()

dict_values([6.0, 8.0, 6.5])

In [5]:
#Testa logicamente a existência
print('João' in Notas)
print('Fernando' in Notas)

True
False

In [6]:
#Apaga um elemento
del Notas['João']
print(Notas)
#Inclui um elemento
Notas['Ana'] = 9
print(Notas)

{'Maria': 8.0, 'Pedro': 6.5}
{'Maria': 8.0, 'Pedro': 6.5, 'Ana': 9}

In [7]:
#Busca um valor, se não encontrar mostra um segundo parâmetro
Notas.get('Geraldo', "Não Encontrado!")

'Não Encontrado!'

In [8]:
#Sets são conjuntos não ordenados de elementos não repetidos
bigdata = {'Spark', 'Hive', 'Sqoop'}
print(bigdata)

{'Sqoop', 'Spark', 'Hive'}

In [9]:
#Verifica existência
print('Spark' in bigdata)

True

In [10]:
#Adicionando elemento ao set
bigdata.add('Hadoop')
bigdata

{'Hadoop', 'Hive', 'Spark', 'Sqoop'}

In [11]:
#número de elementos do set
print(len(bigdata))

4

In [14]:
#Tuplas são listas que não podem ser alteradas - listas usam [] e tuplas usam ()
tupla = (1,2,3,4,5,6,7)
print(tupla)
tupla[4]

(1, 2, 3, 4, 5, 6, 7)

5

In [15]:
#Dicionário com tuplas
dic2 = {(0,1):0, (1,2):1, (2,3):2, (3,4):3, (4,5):4, (5,6):5}
dic2

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5}

In [16]:
#Verificando tipagem
print(type(Notas))
print(type(bigdata))
print(type(tupla))

<class 'dict'>
<class 'set'>
<class 'tuple'>